.fortune-tooltip-modify-modal {
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  z-index: 300;
  padding: 6px 20px 10px 20px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 16%);
  border: solid 0.5px #e5e5e5;
  border-radius: 6px;
}

.fortune-tooltip-modify-modal.tooltip-toolbar {
  display: flex;
  flex-direction: row;
  padding: 2px 8px 2px 16px;
  align-items: center;
}


.fortune-link-modify-modal .tooltip-content {
  margin-right: 6px;
}
