.fortune-toolbar {
  display: flex;
  flex-direction: row;
  /* background: #fafafc; */
  position: relative;
  padding: 10px 0px 8px 15px;
  border-bottom: 1px solid #d4d4d4;
  white-space: nowrap;
  align-items: center;
}

.fortune-toolbar-divider {
  width: 1px;
  height: 20px;
  margin: 0 6px;
  background-color: #e0e0e0;
  flex-shrink: 0;
}

.fortune-toolbar-menu-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.fortune-toolbar-menu-divider {
  width: "100%";
  height: 1px;
  margin: 2px 6px;
  background-color: #e0e0e0;
}

.fortune-toolbar-button,
.fortune-toolbar-combo {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0;
  outline: none;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 2px 8px;
}

.fortune-toolbar-combo-button,
.fortune-toolbar-combo-arrow {
  display: flex;
  align-items: center;
}

.fortune-toolbar-button:hover,
.fortune-toolbar-combo:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.fortune-toolbar-combo-arrow:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.fortune-toolbar-button:active,
.fortune-toolbar-combo:active {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.fortune-toobar-combo-container {
  position: relative;
}

.fortune-toolbar-combo-popup {
  position: absolute;
  white-space: nowrap;
  top: 32px;
  left: 0;
  z-index: 1004;
}

.fortune-toolbar-select::-webkit-scrollbar {
  display: none;
}

.fortune-toolbar-select,
.fortune-toolbar-color-picker {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 6px;
  background: white;
}

.fortune-toolbar-select {
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
  max-height: 75vh;
}

.fortune-toolbar-combo-button {
  font-size: 12px;
}

.fortune-toolbar-select-option {
  font-size: 12px;
  min-width: 60px;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
}

.fortune-toolbar-select-option:hover {
  background: #efefef;
}

.fortune-toolbar-select::-webkit-scrollbar {
  display: none;
}

.fortune-toolbar-color-picker-row {
  display: flex;
  flex-direction: row;
}

.fortune-toolbar-combo-text {
  margin: 0 4px;
}

.fortune-toolbar-color-picker-item {
  width: 16px;
  height: 16px;
  margin: 1px;
  cursor: pointer;
}

.fortune-tooltip {
  visibility: hidden;
  background-color: #666;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 6px;
  font-size: 12px;
  position: absolute;
  z-index: 25; /* higher than toolbar tips */
  top: 40px;
  white-space: nowrap;
}

.fortune-toolbar-button:hover .fortune-tooltip,
.fortune-toolbar-combo:hover .fortune-tooltip {
  visibility: visible;
}

.fortune-toolbar-more-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  margin-right: 40px;
  top: 40px;
  max-width: 348px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background: white;
  flex-wrap: wrap;
  z-index: 1002;
}

.fortune-toolbar-subtext {
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  font-size: 12px;
  left: auto;
  padding-top: 1px;
  padding-left: 24px;
  text-align: right;
  opacity: 0.5;
  filter: alpha(opacity=50);
  color: #000;
  user-select: none;
  font-family: Arial;
  line-height: 100%;
}

.toolbar-item-sub-menu {
  position: absolute;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: default;
  font-size: 12px;
  z-index: 1004;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border-radius: 6px;
}

#fortune-custom-color {
  min-width: 164px;
  background: rgb(240, 240, 240);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

#fortune-custom-color .color-reset {
  position: relative;
  color: #333;
  cursor: pointer;
  list-style: none;
  padding: 10px;
  white-space: nowrap;
  padding-left: 8px;
  vertical-align: middle;
  padding-right: 24px;
  user-select: none;
  border-radius: 6px;
  background: white;
}

#fortune-custom-color .color-reset:hover {
  background: rgb(230, 230, 230);
}

#fortune-custom-color .custom-color {
  position: relative;
  margin: auto;
  padding: 10px;
  border-radius: 6px;
  background: white;
  display: flex;
  align-items: center;
  margin: 1px 0px;
  display: flex;
  justify-content: space-around;
}

.button-basic {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
  user-select: none;
}

.button-primary {
  background: #0188fb;
  border: 1px solid #0188fb;
  color: #fff;
  margin-right: -4px;
}

.fortune-border-select-menu {
  position: absolute;
  bottom: 0px;
}

.fortune-border-color-preview {
  height: 3px;
}

.fortune-border-select-option {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  min-width: 60px;
  padding: 8px 12px;
}

.fortune-border-select-option:hover {
  background: #efefef;
  cursor: pointer;
}

.fortune-border-style-preview {
  height: 3px;
  overflow: hidden;
}

.fortune-border-style-picker-menu {
  padding: 0px 10px;
}

.fortune-border-style-picker-menu:hover {
  background: #efefef;
  cursor: pointer;
}
