.listBox {
  display: flex;
  justify-content: space-between;
}

.inpbox {
  margin-bottom: 10px;
}

.decimal-places-input {
  width: 70px;
}

.format-list {
  width: 300px;
  height: 170px;
  border: 1px solid #d4d4d4;
  overflow-y: scroll;
}
