.online-sheet-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.fortune-col-body {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.online-sheet-area {
  flex: 1;
  position: relative;
}

.online-sheet-canvas-placeholder,
.online-sheet-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.online-sheet-canvas {
  position: absolute;
}
