.fortune-sheet-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.fortune-col-body {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.fortune-sheet-area {
  flex: 1;
  position: relative;
}

.fortune-sheet-canvas {
  width: 100%;
  height: 100%;
}