.fortune-sheet-list {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 120px;
  position: absolute;
  z-index: 10002;
  bottom: 31px;
  left: 72px;
  max-height: 60%;
}

.fortune-sheet-list-item {
  height: 30px;
  line-height: 30px;
  width: 100%;
  margin-right: 46px;
  cursor: pointer;
}

.fortune-sheet-list-item-name {
  margin-right: 15px;
}

.fortune-sheet-list :hover {
  background-color: #EFEFEF;
}

.fortune-sheet-hidden-button {
  margin-right: 15px;
  display: inline-flex;
  position: absolute;
  right: 0;
  justify-content: flex-end;
}

.fortune-sheet-hidden-button :hover {
  background-color: #D0D0D0;
}

.fortune-sheet-selected-check-sapce {
  width: 20px;
  display: inline-block;
  margin-left: 15px;
}