.fortune-sheet-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  outline-style: none;
}

.fortune-cell-area {
  border-collapse: collapse;
  position: relative;
  overflow: hidden;
  outline-style: none;
  cursor: default;
}

.fortune-row-body {
  display: flex;
  flex-direction: row;
}

.fortune-row-header {
  position: relative;
  flex-shrink: 0;
  outline-style: none;
  color: #5e5e5e;
  overflow: hidden;
  padding: 0;
  margin-top: -2px;
  padding-top: 2px;
  cursor: default;
  width: 45px;
}

.fortune-row-header-hover {
  position: absolute;
  z-index: 11;
  border: 0 none;
  right: 0;
  width: 100%;
  margin-top: 2px;
  display: none;
  background-color: rgba(194, 194, 194, 0.4);
}

.fortune-row-header-selected {
  position: absolute;
  z-index: 10;
  border-right: 1px solid #0188fb;
  right: 0;
  width: 100%;
  margin-top: 2px;
  display: none;
  transition: all 0.1s;
  background-color: rgba(76, 76, 76, 0.1);
}

.fortune-col-header-wrap {
  display: flex;
  flex-direction: row;
}

.fortune-col-header {
  color: #5e5e5e;
  overflow: hidden;
  padding: 0;
  cursor: default;
  flex: 1;
  height: 19px;
  outline-style: none;
  position: relative;
}

.fortune-col-header-hover {
  color: #5e5e5e;
  cursor: default;
  position: absolute;
  z-index: 11;
  border: 0 none;
  bottom: 0;
  height: 100%;
  margin-left: 0px;
  display: none;
  background-color: rgba(194, 194, 194, 0.4);
}

.fortune-col-header-selected {
  color: #5e5e5e;
  cursor: default;
  position: absolute;
  z-index: 10;
  border-bottom: 1px solid #0188fb;
  bottom: 0;
  height: 100%;
  margin-left: 0px;
  display: none;
  transition: all 0.1s;
  background-color: rgba(76, 76, 76, 0.1);
}

.fortune-left-top {
  width: 44.5px;
  height: 18.5px;
  border: solid 0 #dfdfdf;
  position: relative;
  padding-top: 0;
  border-width: 0 1px 1px 0;
  padding-left: 0;
  cursor: pointer;
}

.luckysheet-cell-selected-focus {
  position: absolute;
  pointer-events: none;
  z-index: 14;
  /*border:1px solid #fff;*/
  margin: 0px 0 0 0px;
  background: rgba(0, 80, 208, 0.15);
  display: none;
  /*transition: all 0.1s;*/
}

.fortune-selection-copy {
  position: absolute;
  pointer-events: none;
  z-index: 18;
  border: none;
  margin: 0px 0 0 0px;
}

.fortune-selection-copy .fortune-copy {
  position: absolute;
  z-index: 18;
  background-color: transparent;
}

.fortune-selection-copy-hc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px dashed #12a5ff;
  z-index: 8;
}

.fortune-selection-highlight {
  position: absolute;
  /*pointer-events: none;*/
  z-index: 14;
  border: none;
  margin: 0px 0 0 0px;
  /* display: none; */
}

.fortune-cell-selected-extend {
  position: absolute;
  pointer-events: none;
  z-index: 16;
  border: 1px dashed #0188fb;
  margin: -1px 0 0 -1px;
  display: none;
  /*transition: all 0.1s;*/
}

.fortune-cell-selected-move {
  position: absolute;
  pointer-events: none;
  z-index: 16;
  border: 2px solid #0188fb;
  margin: -1px 0 0 -1px;
  display: none;
  /*transition: all 0.1s;*/
}

.luckysheet-cell-selected {
  position: absolute;
  pointer-events: none;
  z-index: 15;
  border: 1px solid #0188fb;
  margin: -1px 0 0 -1px;
  background: rgba(1, 136, 251, 0.15);
  display: none;
  box-sizing: content-box;
}

.luckysheet-cs-inner-border {
  pointer-events: none;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.luckysheet-cs-fillhandle {
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: -5px;
  cursor: crosshair;
  background-color: #0188fb;
  border: solid 1px #fff;
  z-index: 16;
  pointer-events: auto;
  right: -5px;
}

.luckysheet-cs-draghandle {
  position: absolute;
  cursor: move;
  background-color: #fff;
  opacity: 0.01;
  z-index: 15;
  pointer-events: auto;
  border: 2px solid #fff;
}

.luckysheet-cs-draghandle-top {
  top: -4px;
  left: -2px;
  right: -2px;
  height: 2px;
}

.luckysheet-cs-draghandle-bottom {
  right: 0;
  left: -2px;
  bottom: -4px;
  height: 2px;
}

.luckysheet-cs-draghandle-left {
  top: 0;
  left: -4px;
  bottom: 0;
  width: 2px;
}

.luckysheet-cs-draghandle-right {
  top: 0;
  right: -4px;
  bottom: 0;
  width: 2px;
}

.luckysheet-cs-touchhandle {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 5px;
  z-index: 100;
  pointer-events: auto;
  touch-action: auto;
}

.luckysheet-cs-touchhandle:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
}

.luckysheet-cs-touchhandle-lt {
  left: -13px;
  top: -13px;
}

.luckysheet-cs-touchhandle-lb {
  left: -13px;
  bottom: -13px;
}

.luckysheet-cs-touchhandle-rt {
  right: -13px;
  top: -13px;
}

.luckysheet-cs-touchhandle-rb {
  right: -13px;
  bottom: -13px;
}

.luckysheet-cs-touchhandle .luckysheet-cs-touchhandle-btn {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 8px;
  top: 8px;
  background-color: #018ffb;
  background-position: center;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 11;
}

.luckysheet-input-box {
  position: absolute;
  font: normal normal 400 13px arial, sans, sans-serif;
  z-index: 15;
  display: flex;
  flex-direction: column;
}

.luckysheet-input-box-inner {
  font: normal normal 400 13px arial, sans, sans-serif;
  text-align: left;
  max-height: 9900px;
  max-width: 9900px;
  border: 2px #5292f7 solid;
  padding: 0 2px;
  margin: 0;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  outline: none;
  -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  right: auto;
  overflow-y: auto;
}

.luckysheet-cell-input {
  width: 100%;
  margin: 0;
  outline: none;
  cursor: text;
  white-space: pre-wrap;
}

.luckysheet-formula-text-color {
  color: black;
}

.luckysheet-formula-text-string {
  color: forestgreen;
}

.luckysheet-cell-flow {
  z-index: -100;
  margin: 0;
  padding: 0;
  border: none 0;
  position: relative;
  touch-action: manipulation;
}

.luckysheet-cell-flow-clip {
  border-collapse: collapse;
  cursor: default;
  width: 5000000px;
  touch-action: manipulation;
  overflow: hidden;
}

.luckysheet-cell-flow-col {
  margin: 0;
  padding: 0;
  border: none 0;
  position: relative;
  touch-action: manipulation;
  overflow: hidden;
  float: left;
  direction: ltr;
}

.luckysheet-cell-sheettable {
  position: relative;
  /*background-color: #fff;*/
  text-align: left;
  font-size: 11pt;
  color: #000000;
  text-decoration: none;
}


.luckysheet-bottom-controll-row {
  position: absolute;
  height: 30px;
  /*width: 400px;*/
  /* background: #000; */
  bottom: 38px;
  left: 0px;
  z-index: 1000;
}

#luckysheet-bottom-add-row {
  padding: 5px 20px;
  margin-right: 5px;
  margin-top: -2px;
}

#luckysheet-bottom-add-row-input {
  width: 40px;
  min-width: 40px;
}

#luckysheet-bottom-return-top {
  padding: 5px 6px;
  margin-left: 10px;
  margin-top: -2px;
}

.luckysheet-cell-flow-column {
  position: absolute;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: 1;
  touch-action: manipulation;
}

.luckysheet-cell-flow-column-line {
  position: absolute;
  border-right: 1px solid #d4d4d4;
  height: inherit;
}

.luckysheet-cell-flow-row {
  text-align: left;
  position: absolute;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  z-index: 1;
  touch-action: manipulation;
}

.luckysheet-cell-flow-row-line {
  position: absolute;
  border-bottom: 1px solid #d4d4d4;
  width: inherit;
}

.fortune-cols-change-size,
.fortune-rows-change-size,
.fortune-change-size-line {
  /*display: none;*/
  position: absolute;
  z-index: 12;
}

.fortune-cols-change-size {
  width: 5px;
  height: 100%;
  background: #0188fb;
  cursor: ew-resize;
  opacity: 0;
}

.fortune-rows-change-size {
  width: 100%;
  height: 5px;
  background: #0188fb;
  cursor: ns-resize;
  opacity: 0;
}

.fortune-change-size-line {
  border-color: #0188fb;
  border-style: solid;
  z-index: 15;
  cursor: ew-resize;
}

/*批注聚焦框 移动 改变大小*/
.luckysheet-postil-dialog-move {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.luckysheet-postil-dialog-move .luckysheet-postil-dialog-move-item {
  /*background: #000;*/
  position: absolute;
  pointer-events: all;
  cursor: move;
}

.luckysheet-postil-dialog-move .luckysheet-postil-dialog-move-item-t {
  width: 100%;
  height: 3px;
  /* border-bottom: 1px solid #000; */
  left: 0;
  top: -4px;
}

.luckysheet-postil-dialog-move .luckysheet-postil-dialog-move-item-r {
  width: 3px;
  height: 100%;
  /* border-left: 1px solid #000; */
  right: -4px;
  top: 0;
}

.luckysheet-postil-dialog-move .luckysheet-postil-dialog-move-item-b {
  width: 100%;
  height: 3px;
  /* border-top: 1px solid #000; */
  left: 0;
  bottom: -4px;
}

.luckysheet-postil-dialog-move .luckysheet-postil-dialog-move-item-l {
  width: 3px;
  height: 100%;
  /* border-right: 1px solid #000; */
  left: -4px;
  top: 0;
}

.luckysheet-postil-show-active
  .luckysheet-postil-dialog-move
  .luckysheet-postil-dialog-move-item {
  border-color: #0188fb;
}

.luckysheet-postil-dialog-resize {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  pointer-events: none;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item {
  position: absolute;
  height: 6px;
  width: 6px;
  border: 1px solid #0188fb;
  pointer-events: all;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-lt {
  left: -6px;
  top: -6px;
  cursor: nw-resize;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-mt {
  left: 50%;
  top: -6px;
  margin-left: -4px;
  cursor: n-resize;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-lm {
  top: 50%;
  left: -6px;
  margin-top: -4px;
  cursor: w-resize;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-rm {
  top: 50%;
  right: -6px;
  margin-top: -4px;
  cursor: e-resize;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-rt {
  right: -6px;
  top: -6px;
  cursor: ne-resize;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-lb {
  left: -6px;
  bottom: -6px;
  cursor: sw-resize;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-mb {
  left: 50%;
  bottom: -6px;
  margin-left: -4px;
  cursor: s-resize;
}

.luckysheet-postil-dialog-resize .luckysheet-postil-dialog-resize-item-rb {
  right: -6px;
  bottom: -6px;
  cursor: se-resize;
}

.fortune-selection-copy-top {
  left: 0;
  right: 0;
  height: 2px;
  top: 0;
  background-position: bottom;
  /* background-image: url("EwaAntH.gif"); */
}

.fortune-selection-copy-right {
  top: 0;
  bottom: 0;
  width: 2px;
  right: 0;
  /* background-image: url("EwaAntV.gif"); */
}

.fortune-selection-copy-bottom {
  left: 0;
  right: 0;
  height: 2px;
  bottom: 0;
  /* background-image: url("EwaAntH.gif"); */
}

.fortune-selection-copy-left {
  top: 0;
  bottom: 0;
  width: 2px;
  left: 0;
  background-position: right;
  /* background-image: url("EwaAntV.gif"); */
}

.fortune-selection-copy-hc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px dashed #12A5FF;
  z-index: 8;
}
.luckysheet-modal-dialog-resize {
  position: absolute;
  border: 2px solid #0188fb;
  margin: 0px;
  padding: 0px;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  pointer-events: none;
}

.luckysheet-modal-dialog-resize-item {
  position: absolute;
  height: 6px;
  width: 6px;
  background: #ffffff;
  border: 2px solid #0188fb;
  pointer-events: all;
  border-radius: 6px;
}

.luckysheet-modal-dialog-resize-item-lt {
  left: -6px;
  top: -6px;
  cursor: se-resize;
}

.luckysheet-modal-dialog-resize-item-mt {
  left: 50%;
  top: -6px;
  margin-left: -4px;
  cursor: s-resize;
}

.luckysheet-modal-dialog-resize-item-rt {
  right: -6px;
  top: -6px;
  cursor: ne-resize;
}

.luckysheet-modal-dialog-resize-item-lm {
  top: 50%;
  left: -6px;
  margin-top: -4px;
  cursor: w-resize;
}

.luckysheet-modal-dialog-resize-item-rm {
  top: 50%;
  right: -6px;
  margin-top: -4px;
  cursor: w-resize;
}

.luckysheet-modal-dialog-resize-item-lb {
  left: -6px;
  bottom: -6px;
  cursor: ne-resize;
}

.luckysheet-modal-dialog-resize-item-mb {
  left: 50%;
  bottom: -6px;
  margin-left: -4px;
  cursor: s-resize;
}

.luckysheet-modal-dialog-resize-item-rb {
  right: -6px;
  bottom: -6px;
  cursor: se-resize;
}

.fortune-formula-functionrange-highlight .fortune-copy {
  background-image: none;
  background: #0188fb;
  position: absolute;
  z-index: 18;
  cursor: move;
  opacity: 0.9;
  /*border: 1px solid #fff;*/
}

.fortune-formula-functionrange-highlight .fortune-selection-copy-top {
  top: -2px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.fortune-formula-functionrange-highlight .fortune-selection-copy-right {
  right: -2px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.fortune-formula-functionrange-highlight .fortune-selection-copy-bottom {
  bottom: -2px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.fortune-formula-functionrange-highlight .fortune-selection-copy-left {
  left: -2px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.fortune-formula-functionrange-highlight .fortune-selection-copy-hc {
  border: 2px solid #5e5e5e;
  opacity: 0.03;
  z-index: initial;
}

.fortune-selection-highlight-lt {
  left: -3px;
  top: -3px;
  cursor: se-resize;
}

.fortune-selection-highlight-rt {
  right: -3px;
  top: -3px;
  cursor: ne-resize;
}

.fortune-selection-highlight-lb {
  left: -3px;
  bottom: -3px;
  cursor: ne-resize;
}

.fortune-selection-highlight-rb {
  right: -3px;
  bottom: -3px;
  cursor: se-resize;
}


.fortune-formula-functionrange-highlight .luckysheet-highlight {
  position: absolute;
  z-index: 19;
  border: 1px solid #fff;
  background: #0188fb;
  width: 6px;
  height: 6px;
}