/*函数公式查找样式*/
#luckysheet-search-formula {
  font-size: 12px;
}

#luckysheet-search-formula .inpbox {
  margin-bottom: 5px;
}

#luckysheet-search-formula .inpbox div {
  display: block;
  margin-bottom: 5px;
}

#luckysheet-search-formula .inpbox input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  border: 1px solid #d4d4d4;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
}

#luckysheet-search-formula .selbox {
  margin-bottom: 5px;
}

#luckysheet-search-formula .selbox select {
  width: 50%;
  height: 24px;
  line-height: 24px;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  font-size: 12px;
}

#luckysheet-search-formula .listbox label {
  display: block;
  margin-bottom: 5px;
}

#formulaTypeList {
  width: 300px;
  height: 170px;
  border: 1px solid #d4d4d4;
  overflow-y: scroll;
}

.formulaList {
  width: 300px;
  height: 170px;
  border: 1px solid #d4d4d4;
  overflow-y: scroll;
}

.listBox {
  padding: 5px;
  border-bottom: 1px solid #d4d4d4;
}

.listBox.on {
  background-color: #8c89fe;
  color: #fff;
}
