.luckysheet-sheet-area {
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafc;
  color: #444;
  height: 31px;
  padding: 0 0 0 44px;
  margin: 0;
  -webkit-touch-callout: none;
  cursor: default;
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#luckysheet-sheet-content {
  width: 0;
  flex: 3;
  display: flex;
  align-items: center;
}

#luckysheet-bottom-pager {
  width: 0;
  background-color: #fafafc;
  z-index: 1;
  flex: 2;
  text-align: right;
  white-space: nowrap;
}

.luckysheet-sheet-area>div,
.luckysheet-sheet-area .luckysheet-sheets-item {
  display: inline-block;
  /* margin-right: 6px;
	margin-top: 1px;
	padding: 1px 6px; */
  /* padding: 6px 10px; */
}

.fortune-sheettab-container {
  padding: 0px 0px;
  margin-left: 0px;
  position: relative;
  max-width: 54%;
  vertical-align: bottom;
  display: inline-block;
}

.fortune-sheettab-container .boundary {
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  z-index: 1;
  background: rgb(255, 255, 255);
}

.fortune-sheettab-container .boundary-left {
  left: 0;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #4445;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, #8880);
}

.fortune-sheettab-container .boundary-right {
  right: 0;
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  --tw-gradient-from: #4445;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, #8880);
}

.fortune-sheettab-container .fortune-sheettab-container-c {
  padding: 0px 0px;
  margin-left: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  max-width: 100%;
  vertical-align: bottom;
  display: inline-block;
}

.luckysheet-sheet-container-menu-hide .luckysheet-sheets-item {
  padding-right: 5px !important;
}

.luckysheet-sheet-container-menu-hide .luckysheet-sheets-item-menu {
  display: none !important;
}

.luckysheet-sheet-area div.luckysheet-sheets-item {
  padding: 2px 6px;
  height: 29px;
  line-height: 29px;
  background-color: #fafafc;
  color: #676464;
  min-width: 30px;
  top: 0px;
  position: relative;
  margin-right: -1px;
  cursor: pointer;
  transition: all 0.1s;
  font-size: 13px;
  padding: 2px 19px 0px 5px;
  box-sizing: border-box;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  vertical-align: middle;
}

.luckysheet-sheet-area div.luckysheet-sheets-item:last-child {
  margin-right: 1px;
}

.luckysheet-sheet-area div.luckysheet-sheets-item:hover {
  background-color: #efefef;
  /* border-color: #a5a5a5; */
  color: #490500;
}

.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-menu {
  margin-left: 2px;
  display: inline-block;
  top: -2px;
  position: relative;
  color: #a1a1a1;
  position: absolute;
  height: 100%;
  width: 15px;
  right: 0px;
  text-align: center;
}

.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-menu:hover {
  color: #2a2a2a;
  cursor: pointer;
}

.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-name {
  padding: 0px 3px;
}

.luckysheet-sheets-item-color {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-name[contenteditable="true"] {
  border: 1px solid #d9d9d9;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  min-width: 8px;
  margin: -4px -1px;
  -moz-user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  -webkit-user-select: text !important;
}

.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-name[contenteditable="true"]:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}

.luckysheet-sheet-area div.luckysheet-sheets-item-active {
  /* padding: 2px 8px; */
  height: 29px;
  line-height: 29px;
  background-color: #efefef;
  /* border-color: #aaa; */
  border-top-color: #fff;
  color: #222;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  cursor: default;
  /* top: -2px; */
  /* border-bottom: none; */
  /* padding-right: 20px; */
}

.luckysheet-sheet-area div.luckysheet-sheets-item-active:hover {
  background-color: #ececec;
  /* border-color: #aaa; */
  color: #222;
}

.fortune-sheettab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 29px;
}

.fortune-sheettab-button:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 29px;
  background-color: #efefef;
}

.luckysheet-noselected-text {
  -moz-user-select: -moz-test;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fortune-sheettab-scroll {
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 29px;
  cursor: pointer;
}

.fortune-sheettab-scroll:hover {
  background-color: #e0e0e0;
}

.fortune-sheettab-placeholder {
  display: inline-block;
  width: 30px;
  height: 29px;
  line-height: 29px;
  vertical-align: middle;
}

.sheet-list-container {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.luckysheet-sheet-selection-calInfo {
  max-width: 22%;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(0px, 50%);
}

.luckysheet-sheet-selection-calInfo div {
  width: 90px;
  height: 18px;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 2px;
  text-align: center;
}

.luckysheet-sheets-item-function {
  width: 12px;
  height: 24px;
  position: absolute;
  top: 4px;
  right: 2px;
}