.fortune-dialog {
  border-radius: 6px;
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 5px 5px 30px;
  box-sizing: border-box;
}

.fortune-dialog-box-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fortune-dialog-box-content {
  padding: 0px 25px;
}

.fortune-dialog-box-button-container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.fortune-message-box-button {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  margin: 0 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  cursor: pointer;
}

.fortune-message-box-button.button-default {
  color: rgb(38, 42, 51);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(235, 235, 235);
}

.fortune-message-box-button.button-primary {
  color: white;
  background-color: #0188FB;
}

.fortune-modal-dialog-header {
  outline: 0;
  display: flex;
  justify-content: end;
}

.forturn-modal-dialog-icon-close {
  color: #d4d4d4;
  opacity: 0.3;
}

.forturn-modal-dialog-icon-close:hover {
  opacity: 0.7;
}