name: CI
on:
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: "20.x"
          cache: "yarn"
      - run: yarn install --frozen-lockfile
      - run: yarn tsc
      - run: yarn lint
      - run: yarn test
